debian/menta-install
debian/.debhelper
debian/*.substvars
debian/*.log
debian/debhelper-build-stamp
debian/files

# built resources
menta-install.gresource

# glade temp files
tmp
resources/*.glade~

# cache files
__pycache__
